# Binaries and build artifacts
build/*
bin/*
*.o
qrc_resources.cpp

# QtCreator temporary project files
WatchFlower.config
WatchFlower.creator*
WatchFlower.files
WatchFlower.includes

# Qt Quick compiler
qmlcache_loader.cpp
qml_*qml.cpp

# QMake temporary project files
WatchFlower.pro*
Makefile
.qmake.stash

# Others
stash/*
.DS_Store
