# Binaries and build artifacts
build/*
bin/*
contribs/*
appdir/*

# QtCreator temporary project files
WatchFlower.config
WatchFlower.creator*
WatchFlower.files
WatchFlower.includes
WatchFlower.pro.*

# Qt Quick Compiler
qrc_resources.cpp
qmlcache_loader.cpp
qml_*qml.cpp

# QMake temporary project files
Makefile
.qmake.stash

# CMake temporary project files
CMakeLists.txt.user

# XCode related
Debug/*
Release/*
WatchFlower.xcodeproj/*
asset_catalog_compiler.Info.plist

# XCode signatures
assets/ios/ios_signature.pri
assets/macos/macos_signature.pri

# Others
stash/*
.DS_Store
