[Desktop Entry]
Type=Application
Name=WatchFlower
Comment=A plant monitoring application for Bluetooth Low Energy sensors and thermometers like Xiaomi 'Flower Care' or Parrot 'Flower Power'
Exec=watchflower
Icon=watchflower
Categories=Utility;DataVisualization;Qt;
