<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleName</key>
	<string>WatchFlower</string>

	<key>CFBundleDisplayName</key>
	<string>WatchFlower</string>

	<key>CFBundleExecutable</key>
	<string>WatchFlower</string>

	<key>CFBundleIdentifier</key>
	<string>com.emeric.watchflower.ios</string>

	<key>CFBundleVersion</key>
	<string>0600001</string>

	<key>CFBundleShortVersionString</key>
	<string>6.0</string>

	<key>CFBundleIconFile</key>
	<string>AppIcon</string>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>MinimumOSVersion</key>
	<string>14.0</string>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>

	<key>NSHighResolutionCapable</key>
	<true/>

	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>WatchFlower connects to Bluetooth Low Energy sensors.</string>

	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>WatchFlower connects to Bluetooth Low Energy sensors.</string>
</dict>
</plist>
